@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(#ffa64d, #999999);
  width: 100vw;
  height: 100vh;
}

h1 {
  @apply text-2xl uppercase mx-auto mb-4 tracking-wider font-bold text-[#031b52e4];
}

h2 {
  @apply text-xl uppercase mb-4 tracking-wider font-bold text-[#031b52e4];
}

.mainContainer {
  @apply flex w-full h-full justify-center items-center;
}
